{% extends 'base.html.twig' %}

{% block title %}Yellow-Flowers{% endblock %}

{% block body %}
<div class=" ">

    
       
        <div class="containe">
    <h1 class="text-center">Flowers are a gift to this earth</h1>
    
    <p class="text-center ">Every flower is a soul blossoming in nature<br/>
        To celebrate the beauty flowers graciously bring to our lives</p>

       


    </div>


     <div class="container">


         <div class="yelow-blok" >
             <div class="icon-flex">
                 <i class="fab fa-pagelines" id="fontaws"></i>
                <h2> Pagelines</h2>
              


             </div>
           
             <div class="icon-flex">
                 
                 <i class="fas fa-lightbulb" id="fontaws"></i>
                 <h2>Light</h2>
            </div>
             <div class="icon-flex">
         
                 <i class="fas fa-hand-holding-heart" id="fontaws"></i>
             <h2>Holding </h2>
         </div>
                 
     </div>  

  

<div class="container">
    <h2 class="text-center yellcolor">Yellow Flower </h2>
    <p>
    <img src="{{asset('../image/flower-3073694_640.png')}}" class="redcontext-Flower" />
Yellow flowers are harvested after planting mithril seeds.
 When planting the mithril seeds, players have an option 
 to either pick the flowers to obtain the item, or to let
  them grow. <br/>Yellow flowers are among the more common flowers. 
  Flowers that are left to grow will stay on the ground temporarily, 
  for around 5 minutes. Players cannot pick these flowers, 
  and they are always white when unpicked.<br/>

These flowers can be used in Summoning as a tertiary ingredient for 
infusing Praying mantis pouches. They are also used in some emote clues. <br/>
They can be wielded in the weapon slot, and are classified as a fun weapon
 in the Duel Arena.<br/>

 Yellow flowers commonly evoke feelings of happiness and cheer, 
 which is exactly what they symbolize. <br/>The are associated with the sun 
 and as such are often viewed as uplifting especially when included in 
 floral displays. <br/>The message does depend of the type of flower and the 
 circumstances, but as a rule, you can count on yellow flowers to carry 
 a positive message.<br/><br/> 

 Yellow flowers are appropriate for special celebrations between friends, 
 for mothers on Mother’s Day,  and for birthdays and retirements or promotions.
  They are most commonly arranged in mixed bouquets with other flowers 
  to brighten the entire floral display. They are often included in 
  graduation or academic achievement ceremonies as a symbol of optimism
   and pride, but are right a home in spring and summer weddings too.<br/><br/> 

Yellow flowers send a message of cheer and are sure to brighten the
 day of the recipient. <br/>Consider pairing yellow with white to brighten
  hospital rooms, nursing homes or any place that could use sunshine.<br/>
    </p> 

</div>

	<div class="bouton button-color ">
			<h2>
				<a href="{{ path('test')}}">take the quiz</a>
			</h2>
		</div>
	</div>
     </div>
{% include 'includes/copyright.html.twig' %}
</div>





 








{% endblock %}