<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>
		{% block title %}Welcome!{% endblock %}
	</title>

	<link href="{{ asset('css/fontawesome-web/css/all.min.css')}}" rel="stylesheet"/>
	<link rel="stylesheet" media="screen" href="screen.css" type="text/css"/>
	<link rel="stylesheet" media="print" href="print.css" type="text/css"/>
	<link href="{{asset('css/main.css')}}" rel="stylesheet" type="text/css"/> {% block stylesheets %}{% endblock %}

	<link href="https://fonts.googleapis.com/css2?family=Calligraffitti&family=Comic+Neue:wght@300&family=Dancing+Script:wght@700&family=Flavors&family=Fredericka+the+Great&family=IM+Fell+French+Canon+SC&family=Norican&family=Satisfy&display=swap" rel="stylesheet">
	<link	href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
	{# <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" /> #}
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">
	</head>



<body>


    <div class="logo">     
        <h2 class="text-center">
        <i class="fab fa-pagelines" id="fleure" >
        </i>FlowerAnFlower</h2>
    </div>


<div class="nav"> 

 
        <ul id="menu-nav">
         

            <li><a href="{{path('home_index')}}" class="menu-item">Logo</a></li>
            <li><a href="{{path('home_index')}}" class="menu-item">Home</a></li>
            <li><a href="{{ path('test')}}" class="menu-item">Test</a> </li>
         
         
            <li><a href="#" class="menu-item">Flower
              <span class="arrow">&#x25BC;</span>
            </a>
              <ul class="sous-menu">

                  <li><a  href="{{path('redflower_index')}}" >Red Flower</a></li>

                  <li><a href="{{ path('yellowflower_index')}}" >Yellow Flower</a></li>

                  <li><a href="{{ path('pinkflower_index')}}" class="dinn">Pink Flower</a></li>
                 
          </ul>
            </li>
         
       
        </ul>

      </div>
        
       
        </div>




  {% block body %}{% endblock %}

  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/slider.js"></script>
  <script src="/js/quize.js"></script>

  {% block javascripts %}{% endblock %}

 
</body>

</html>